<div id="issuedata">

    <div class="mod-content">
        <ul id="issuedetails" class="property-list two-cols">

            <li class="item">
                <div class="wrap">
                    <strong class="name" title="Type">
                        <label for="issuetype">Type:</label>
                    </strong>
                    <span id="type-val" class="value">{{page.issuetype}}</span>
                </div>
            </li>

            <li class="item item-right">
                <div class="wrap">
                    <strong class="name" title="Status">Status:</strong>
                    <span id="status-val" class="value">{{page.status}}</span>
                </div>
            </li>

            <li class="item new">
                <div class="wrap">
                    <strong class="name" title="Priority">
                        <label for="priority-field">Priority:</label>
                    </strong>
                    <span id="priority-val" class="value">{{page.priority}}</span>
                </div>
            </li>

            <li class="item item-right">
                <div class="wrap">
                    <strong class="name" title="Resolution">Resolution:</strong>
                    <span id="resolution-val" class="value resolved">{{page.resolution}}</span>
                </div>
            </li>

            <li class="item">
                <div class="wrap">
                    <strong class="name" title="Component/s">
                        <label for="components">Component/s:</label>
                    </strong>
                    <span id="components-val" class="value">{{page.components}}</span>
                </div>
            </li>


            <li class="item item-right">
                <div class="wrap" id="wrap-labels">
                    <strong class="name" title="Labels">
                        <label for="labels-textarea">Labels:</label>
                    </strong>
                    <div class="labels-wrap value">
                        <span class="labels" id="labels-38172-value">{{page.labels}}</span>
                    </div>
                </div>
            </li>
        </ul>
    </div>



    <div class="mod-content">
        <ul id="peopledetails" class="property-list two-cols">

            <li class="item">
                <div class="wrap">
                    <strong class="name" title="Assignee">
                        <label for="issuetype">Assignee:</label>
                    </strong>
                    <span id="type-val" class="value">{{page.assignee}}</span>
                </div>
            </li>

            <li class="item item-right">
                <div class="wrap">
                    <strong class="name" title="Reporter">Reporter:</strong>
                    <span id="status-val" class="value">{{page.reporter}}</span>
                </div>
            </li>


            <li class="item new">
                <div class="wrap">
                    <strong class="name" title="Created">
                        <label for="components">Created:</label>
                    </strong>
                    <span id="components-val" class="value">{{page.created | date: '%B %d, %Y' }}</span>
                </div>
            </li>

            <li class="item item-right">
                <div class="wrap">
                    <strong class="name" title="Votes">
                        <label for="priority-field">Votes:</label>
                    </strong>
                    <span id="priority-val" class="value">{{page.votes}}</span>
                </div>
            </li>

            <li class="item item-right">
                <div class="wrap">
                    <strong class="name" title="Watchers">Watchers:</strong>
                    <span id="resolution-val" class="value resolved">{{page.watchers}}</span>
                </div>
            </li>



            <li class="item">
                <div class="wrap">
                    <strong class="name" title="Updated">
                        <label for="labels-textarea">Updated:</label>
                    </strong>
                    <div class="labels-wrap value">
                        <span class="labels" id="labels-38172-value">{{page.updated | date: '%B %d, %Y' }}</span>
                    </div>
                </div>
            </li>

            <li class="item">
                <div class="wrap">
                    <strong class="name" title="Resolved">
                        <label for="labels-textarea">Resolved:</label>
                    </strong>
                    <div class="labels-wrap value">
                        <span class="labels" id="labels-38172-value">{{page.resolved | date: '%B %d, %Y' }}</span>
                    </div>
                </div>
            </li>

        </ul>
    </div>


</div>
