---
layout: default
---

<div class="home">
    {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
    {%- endif -%}

    {{ content }}

    <h2>Known Projects</h2>

    <ul>
        {% for item in site.pages %}
        {% if item.layout == 'project' %}
        {% assign count = site.pages | where: "project_key", item.project | size %}

        <li>
            <a href="{{ item.url | relative_url }}">{{ item.project | escape }}: {{ item.title | escape }} ({{count}})</a>
        </li>
        {% endif %}
        {% endfor %}
    </ul>

</div>