---
layout: default
---

<article class="post">

    {% assign sorted = site.pages | where: "project_key", page.project | sort: "issue_numeric_sort_key"  %}

    <header class="post-header">
        <h1 class="post-title">{{page.project | escape}} ({{ page.title | escape }}) ({{ sorted.size }})</h1>
    </header>

    <ul>
        {% for item in sorted %}
        {% if item.project_key == page.project%}
        <li>
            <a href="{{ item.url | relative_url }}">{{ item.issue_key | escape }}: {{ item.title | escape }}</a>
        </li>
        {% endif %}
        {% endfor %}
    </ul>


    <div class="post-content">
        {{ content }}
    </div>

</article>