/**
 * some of this is taken from Jira, most is unused
 */
.module {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  margin-top: 25px
}

.module::before, .module::after {
  content: " ";
  display: table
}

.module::after {
  clear: both
}

.module:first-child {
  margin-top: 0
}

.module > .mod-header::before, .module > .mod-header::after {
  content: " ";
  display: table
}

.module > .mod-header::after {
  clear: both
}

.module > .mod-header > h1, .module > .mod-header > h2, .module > .mod-header > h3, .module > .mod-header > h4, .module > .mod-header > h5, .module > .mod-header > h6 {
  margin-top: 0
}

.module > .mod-header + .mod-content {
  margin-top: 10px
}

.module > .mod-content::before, .module > .mod-content::after {
  content: " ";
  display: table
}

.module > .mod-content::after {
  clear: both
}

.module > .mod-content iframe {
  border: 0;
  margin: 0;
  padding: 0;
  width: 100%
}

.module + .module {
  margin-top: 25px;
  padding-top: 25px
}

.property-list {
  display: block;
  margin: 0;
  list-style: none;
  padding: 0
}

.property-list > li {
  margin: 1px 0 0;
  padding: 0;
  position: relative
}

.property-list img {
  vertical-align: text-bottom
}

.property-list .item {
  margin: 1px 0 0
}

.property-list .item .name {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
  overflow-wrap: break-word;
  color: #6b778c;
  display: inline-block;
  font-weight: normal;
  padding: 2px 5px 2px 0;
  padding-right: 5px;
  text-align: right;
  width: 150px
}

.property-list .item .value {
  word-wrap: break-word;
  overflow-wrap: break-word;
  display: inline-block;
  max-width: 100%;
  padding-bottom: 2px;
  padding-left: 5px;
  padding-top: 2px;
  position: relative;
  vertical-align: top
}

.property-list .item .value .value {
  padding: 0
}

.property-list .wrap {
  padding: 0 10px 0 150px
}

.property-list .wrap::before, .property-list .wrap::after {
  content: " ";
  display: table
}

.property-list .wrap::after {
  clear: both
}

.property-list .wrap .name {
  float: left;
  margin-left: -150px
}

.property-list.two-cols::before, .property-list.two-cols::after {
  content: " ";
  display: table
}

.property-list.two-cols::after {
  clear: both
}

.property-list.two-cols > .item {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  clear: left;
  float: left;
  width: 50%
}

.property-list.two-cols > .item-right {
  clear: right;
  float: right
}

.property-list.two-cols > .item.full-width {
  clear: both;
  width: 100%
}

.msie .property-list .wrap .value {
  display: block
}

.module > .mod-content .issues {
  display: block;
  margin: 0;
  list-style: none;
  padding: 0
}

.module > .mod-content .issues > li {
  margin: 0;
  padding: 0;
  padding-left: 26px;
  position: relative
}

.module > .mod-content .issues > li + li {
  margin-top: 5px
}

.module > .mod-content .issues > li .aui-icon, .module > .mod-content .issues > li img {
  left: 0;
  margin-top: 2px;
  position: absolute
}

.module > .mod-content .issues > li .issue::after {
  content: "."
}


div.description, div.comment, #issuedata {
  background-color: #f0f0f0;
  border: 1px solid #cccccc;
  border-radius: 3px;
  box-shadow: #aaaaaa 4px 4px;
  padding: 10px;
}

.post-title {
  font-size:25px;
  font-weight: bold;
}

.post-header {
  border-bottom: 3px solid #aaa;
}

table.issue-list {
  white-space: nowrap;
}

table.issue-list td, table.issue-list th {
  padding: 5px 5px;
}

table.issue-list abbr {
  text-decoration: none;
}

.attachments .author {
  font-style: italic;
}
.attachments .size, .attachments .mimetype {
  font-size: smaller;
}

// default theme adds bottom margin, looks weird without top margin
h1, h2, h3, h4, h5, h6, p, blockquote, pre, ul, ol, dl, figure, .highlight {
  margin-bottom: 15px;
  margin-top: 15px;
}